
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/Css/papaya.css" />
    <script src="~/Scripts/papaya-viewer.js"></script>
</head>
<body>
    <div id="papayaContainer"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var params = [];
            array = [
                "1.3.12.2.1107.5.2.30.63392.2024052400455939207426333.DCM",
                "1.3.12.2.1107.5.2.30.63392.2024052400455939335526338.DCM",
                "1.3.12.2.1107.5.2.30.63392.2024052400455939415326339.DCM",
                "1.3.12.2.1107.5.2.30.63392.2024052400455939862626340.DCM",
                "1.3.12.2.1107.5.2.30.63392.2024052400455944755926342.DCM",
                "1.3.12.2.1107.5.2.30.63392.2024052400455944809026343.DCM",
                "1.3.12.2.1107.5.2.30.63392.2024052400455945348426344.DCM",
                "1.3.12.2.1107.5.2.30.63392.2024052400455945348426345.DCM",
                "1.3.12.2.1107.5.2.30.63392.2024052400455945348426346.DCM",
            ]
            let listOfDicoms = []
            array.forEach(item => listOfDicoms.push("Content/Img/series/SR004/" + item))
            //console.log(listOfDicoms);
            params["images"] = [listOfDicoms];
            //papaya.Container.addViewer("papayaContainer", params);
            papaya.Container.addViewer("papayaContainer" , params);
        });
    </script>
</body>
</html>
